<a href="https://colab.research.google.com/github/tomrunner21/Trading/blob/main/SFP_for_one_ticker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Getting single tickers new headliners posted on FinViz and checking if the word blockchain is in any recent headliners.
# Also want to later check a list of BTC related words to widen research
# Also want to maybe be able to research what tickers move more with different BTC words in the headliners to later keep an eye on
# Doing this because BITF moved two weeks after a blockchain headline on it and is less than know crypo miner IPO to come to light but few notice
# Also want to push this to check other tickers for things such as semis, masks, alzs, or etc.
###^^^ copied this for original notebook so not real purpose of this notebook, this is to be used to join the final project notebook.

In [ ]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [20]:
import requests
from requests import get
import pandas as pd
import numpy as np

from time import sleep
from random import randint

from bs4 import BeautifulSoup as soup
from urllib.request import Request, urlopen

SFP = []
SFP_values = []

def SFP_for_one():
  count = 0
  url = ("https://finviz.com/quote.ashx?t=gnog")
  req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
  webpage = urlopen(req).read()
  html = soup(webpage, "html.parser")

  company_attributes_values = html.find_all(attrs = {'class': 'snapshot-td2-cp'})
  company_attributes = html.find_all(attrs = {'class': 'snapshot-td2'})

  for ticker in company_attributes_values:
    SFP.append(ticker.get_text().strip())
    text = ticker.get_text().strip()

  for ticker in company_attributes:
    SFP_values.append(ticker.get_text().strip())
    text = ticker.get_text().strip()

SFP_for_one()
df_titles = pd.DataFrame(SFP)
df_values = pd.DataFrame(SFP_values)

In [26]:
# df_titles

In [25]:
# df_values

In [27]:
result = pd.concat([df_titles, df_values], axis=1)
result

               0           0
0          Index           -
1            P/E       16.76
2      EPS (ttm)        1.10
3    Insider Own       2.70%
4   Shs Outstand      46.57M
..           ...         ...
67         SMA20      59.12%
68         SMA50      48.53%
69        SMA200      19.00%
70        Volume  35,517,861
71        Change      50.77%

[72 rows x 2 columns]